/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

//Layer definitions
#define QWERTY 0
#define VIKEYS 1 


/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty {
//  --------------------------------------------------------   -------------------------------------------------------------------------
// | TAB               | Q     | W    | E    | R     | T    | | Y     | U     | I           | O           | P          | BSPC           |
// | LCTRL / ESC       | A     | S    | D    | F     | G    | | H     | J     | K           | L           | VIKEYS / ; | '              |
// | LSHFT             | Z     | X    | C    | V     | B    | | N     | M     | ,           | .           | /          | RSHIFT / ENTER |
// | LCTRL+LSHFT+LGUI  | LCTRL | LALT | LGUI | LOWER | BSPC | | SPACE | RAISE | RGUI / LEFT | RALT / DOWN | RCTRL / UP | RIGHT          |
//  --------------------------------------------------------   -------------------------------------------------------------------------
            bindings = <
    &kp TAB           &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I            &kp O            &kp P              &kp BSPC  
    &mt LCTRL ESC     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K            &kp L            &lt VIKEYS SEMI    &kp SQT   
    &kp LSHFT         &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA        &kp DOT          &kp FSLH           &mt RSHIFT ENTER 
    &none  &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

       vikeys {
//  -----------------------------------     ---------------------------------------
// |     |     |     |     |     |     |   |      |      |     |       |     |     |
// |     |     |     |     |     |     |   | LEFT | DOWN | UP  | RIGHT |     |     |
// |     |     |     |     |     |     |   |      |      |     |       |     |     |
// |     |     |     |     |     |     |   |      |      |     |       |     |     |
//  -----------------------------------     ---------------------------------------
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &trans
            >;
        }; 
    };
};
