/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

//Layer definitions
#define DEFAULT 0
#define LOWER 1 


/ {
    behaviors {
		mo_tog: behavior_mo_tog {
			compatible = "zmk,behavior-tap-dance";
			label = "mo_tog";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&mo 1>, <&tog 1>;
		};
    };
     
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp KP_SLASH  &kp KP_N7      &kp KP_N8       &kp KP_N9       &kp BSPC      &kp F18              &none &none &none &none &none &none
    &kp KP_MULTIPLY &kp KP_N4    &kp KP_N5       &kp KP_N6       &kp TAB       &kp F19              &none &none &none &none &none &none
    &kp KP_MINUS &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_ENTER  &kp F20              &none &none &none &none &none &none
    &kp KP_PLUS  &kp KP_N0       &kp KP_COMMA    &kp KP_DOT      &mt LSHIFT EQUAL  &mo_tog          &none &none &none &none &none &none
            >;
        };

       lower_layer {
//  -----------------------------------     ---------------------------------------
// |     |     |     |     |     |     |   |      |      |     |       |     |     |
// |     |     |     |     |     |     |   | LEFT | DOWN | UP  | RIGHT |     |     |
// |     |     |     |     |     |     |   |      |      |     |       |     |     |
// |     |     |     |     |     |     |   |      |      |     |       |     |     |
//  -----------------------------------     ---------------------------------------
            bindings = <
    &trans  &kp C_PREV &kp C_PLAY_PAUSE &kp C_NEXT  &kp DEL  &bt BT_SEL 0    			&none &none &none &none &none &none
    &trans  &trans     &kp UP  		&trans      &trans   &bt BT_SEL 1    			&none &none &none &none &none &none
    &trans  &kp LEFT   &kp DOWN  	&kp RIGHT   &trans   &bt BT_SEL 2    			&none &none &none &none &none &none
    &trans  &trans     &bt BT_CLR 	&trans      &trans   &trans    				&none &none &none &none &none &none
            >;
        }; 
    };
};
